Repository stratum/stratum, pull requests merged in 2022-01, with the labels that each got.

#849 Move platform-specific code to `glue/platform.h`
  stratum/glue/BUILD
  stratum/glue/net_util/BUILD
  stratum/glue/net_util/ipaddress.h
  stratum/glue/platform.h
  stratum/glue/status/BUILD
  stratum/glue/status/posix_error_space.cc
Labels: Merge After Release

#888 Re-add `build_stack_rules_proto` dep
  bazel/deps.bzl
Labels: bug, P1

#904 [SDFAB-919] Support P4Runtime translation for action profile member
  stratum/hal/lib/barefoot/p4runtime_bfrt_translator.cc
  stratum/hal/lib/barefoot/p4runtime_bfrt_translator.h
  stratum/hal/lib/barefoot/p4runtime_bfrt_translator_test.cc
Labels: enhancement, P4/P4Runtime

#899 [SDFAB-901] Support P4Runtime translation in Stratum-bfrt
  .circleci/test-targets.txt
  stratum/hal/bin/barefoot/BUILD
  stratum/hal/bin/barefoot/README.run.md
  stratum/hal/bin/barefoot/main_bfrt.cc
  stratum/hal/lib/barefoot/BUILD
  stratum/hal/lib/barefoot/bf_chassis_manager.cc
  stratum/hal/lib/barefoot/bfrt_counter_manager.cc
  stratum/hal/lib/barefoot/bfrt_counter_manager.h
  stratum/hal/lib/barefoot/bfrt_counter_manager_test.cc
  stratum/hal/lib/barefoot/bfrt_node.cc
  stratum/hal/lib/barefoot/bfrt_node.h
  stratum/hal/lib/barefoot/bfrt_node_test.cc
  stratum/hal/lib/barefoot/bfrt_p4runtime_translator.cc
  stratum/hal/lib/barefoot/bfrt_p4runtime_translator.h
  stratum/hal/lib/barefoot/bfrt_p4runtime_translator_mock.h
  stratum/hal/lib/barefoot/bfrt_p4runtime_translator_test.cc
  stratum/hal/lib/barefoot/bfrt_packetio_manager.cc
  stratum/hal/lib/barefoot/bfrt_packetio_manager.h
  stratum/hal/lib/barefoot/bfrt_packetio_manager_test.cc
  stratum/hal/lib/barefoot/bfrt_pre_manager.cc
  stratum/hal/lib/barefoot/bfrt_pre_manager.h
  stratum/hal/lib/barefoot/bfrt_pre_manager_test.cc
  stratum/hal/lib/barefoot/bfrt_table_manager.cc
  stratum/hal/lib/barefoot/bfrt_table_manager.h
  stratum/hal/lib/barefoot/bfrt_table_manager_test.cc
  stratum/hal/lib/barefoot/utils.cc
  stratum/hal/lib/barefoot/utils.h
  stratum/hal/lib/common/constants.h
Labels: enhancement, P4/P4Runtime
